.works-modal {
  @media screen and (max-width: 650px) {
    display: flex;
    justify-content: center;
  }
}

.works {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  height: 600px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  /*border: 3px solid #ffb76a;*/
  margin-top: 20px;
  box-shadow: 8px 8px 8px 5px #023b3d;
  @media screen and (max-width: 650px) {
    width: 95%;
  }

  h3 {
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }

  .img-portfolio {
    width: 600px;
    border-radius: 10px;
    @media screen and (max-width: 650px) {
      width: 100%;
    }
    &:hover {
      filter: brightness(0.1);
    }
  }

  button {
    display: none;
  }

  .title {
    display: none;
  }

  .img-portfolio:hover + .title {
    display: block;
    z-index: 2;
    position: absolute;
    top: 220px;
    left: 140px;
    width: 330px;
    background-image: linear-gradient(
      -225deg,
      #04f3d3 0%,
      #04ee79 29%,
      #ece5dd 67%,
      #f8f4ee 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
  }

  .pictures img {
    width: 100px;
  }
  .modal p {
    color: black;
    font-size: 20px;
  }
}
