.works-modal {
  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
  }
}

.works {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;

  height: fit-content;
  border-radius: 20px;
  /*border: 3px solid #ffb76a;*/
  margin-top: 20px;
  box-shadow: 8px 8px 8px 5px #023b3d;

  @media screen and (max-width: 1250px) {
    width: 500px;
  }
  @media screen and (max-width: 1060px) {
    width: 400px;
  }
  @media screen and (max-width: 860px) {
    width: 300px;
  }
  @media screen and (max-width: 700px) {
    width: 92%;
  }

  h3 {
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }

  .img-portfolio {
    width: 600px;
    border-radius: 10px;
    @media screen and (max-width: 1250px) {
      width: 500px;
    }
    @media screen and (max-width: 1060px) {
      width: 400px;
    }
    @media screen and (max-width: 860px) {
      width: 300px;
    }
    @media screen and (max-width: 700px) {
      width: 100%;
    }
    &:hover {
      filter: brightness(0.1);
    }
  }

  button {
    display: none;
  }

  .title {
    display: none;
  }

  .img-portfolio:hover + .title {
    display: block;
    z-index: 2;
    position: absolute;
    top: 48%;
    text-align: center;
    align-self: center;
    width: 330px;
    background-image: linear-gradient(
      -225deg,
      #00d8bb 0%,
      #04ee79 29%,
      #ecd0ab 67%,
      #faf8f7 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .pictures img {
    width: 100px;
  }
  .modal p {
    color: black;
    font-size: 20px;
  }
}
