.btnCV {
  text-align: center;
  .downloadCV {
    padding: 10px;
    background-color: #097969;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    width: 13%;
    height: 55px;
    margin: 3.125rem auto 0;
    cursor: pointer;
    z-index: 2;
    margin-top: 0;
    @media screen and (max-width: 1450px) {
      font-size: 16px;
      width: auto;
    }
  }

  .downloadCV:hover {
    background-color: #d2e8e9;
    color: #097969;
    cursor: pointer;
    text-decoration: underline;
  }
}
