.services-box {
  display: flex;
  flex-direction: column;
  /*background-color: #fef5f0;
    border: 2px solid #ffceb2;*/
  border-radius: 29px;
  padding: 15px;
}

.services h2 {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 35px;
  @media screen and (max-width: 1450px) {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 950px) {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.services h3 {
  font-size: 20px;
  color: #004f50;
  text-align: center;
  @media screen and (max-width: 1450px) {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

p {
  text-align: center;
  font-size: 20px;
  @media screen and (max-width: 1450px) {
    font-size: 16px;
  }
}
