main {
    font-family: 'Tajawal', sans-serif;
}


.presentation-container {
    width: 100%;
    position: relative;
    height: 460px;
    /*background-color: #5E9798;*/
}

.img-gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 460px;
    top: 0;
    background: linear-gradient(to bottom, #004f50, #097969 70%, #d0c1b2 );
}

.presentation {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 2;
    position: relative;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 55px;
    font-weight: 700;
    color: white;
    margin-top: 0px;
    align-self: center;
    margin-bottom: 20px;
}

.presentation h2 {
    color: white;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

.socialLinks img {
    height: 50px;
    width: 50px;
    
    filter: saturate(10%) contrast(100%) brightness(10%) invert(95%) sepia(10%) hue-rotate(110deg);
    border-radius: 50%;
}

.socialLinks img:hover {
    cursor: pointer;
    filter: saturate(200%) contrast(150%) brightness(100%) invert(30%) sepia(100%) hue-rotate(100deg);
}

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.img-gradient-services{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #d0c1b2, transparent);
}

.services-section h1 {
    color: #004f50;
    margin-bottom: 60px;
    z-index: 2;
    margin-top: 160px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 80%;
    z-index: 2;
}

.services-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
}

.services-collapse{
    width: 30%;
    background: linear-gradient(to bottom, #298c7d 22%, #fbf1eb 22% 80%);
    /*border: 4px solid #fbf1eb;*/
    border-radius: 50px;
    margin-bottom: 60px;
}

.services-collapse h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(68, 130, 131);
}

.descriptif-service {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}

.services-collapse ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0;
    padding:0;
}

.services-collapse li {
    list-style: none;
    margin-right: 10px;
    border: 1px solid #d2e8e9;
    background-color: #d2e8e9;
    color: #004f50;
    border-radius: 20px;
    padding: 10px;
    margin-top : 10px;
    font-weight: 700;
}

.downloadCV {
    padding: 10px;
    background-color: #097969 ;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    width: 13%;
    height: 55px;
    margin:3.125rem auto 0;
    cursor: pointer;
    z-index: 2;
    margin-top: 0;
}

.downloadCV:hover {
    background-color: #d2e8e9;
    color: #097969;
    cursor: pointer;
    text-decoration: underline;
}

.img-gradient-services-bottom{
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to top, #d0c1b2, transparent);
}

.travaux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 70px;
    background: linear-gradient(to top,#003d3e 10%, #004f50 20%, #097969 83%, #d0c1b2 );
}

.travaux h1 {
    color: white;
    margin-top: 120px;
    margin-bottom: 70px;
    z-index: 2;
    position: relative;
}

.filter {
    display: flex;
    flex-direction: row;
    margin: 0 auto 3em auto;
    width: fit-content;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #097969;
    z-index: 2;
    position: relative;
    column-gap: 30px;
}

.btn-filter {
    border: #fbf1eb;
    background-color: transparent;
    font-family: 'Tajawal', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fbf1eb;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-filter:hover {
    background-color: #fbf1eb;
    color: #097969;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.allWorks {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
    row-gap: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.aPropos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    height: 600px;
}

/*.img-gradient-a-propos{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #004f50, transparent);
}*/


.aPropos h1 {
    color: #004f50;
    margin-top: 30px;
    position: relative;
    top: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 2;
}

.list-about{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    background-color: #fbf1eb;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.aPropos ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-left: 0;
}

.aPropos p {
    font-size: 22px;
    color: #004f50;
    text-align: center;
}

.aPropos br{
    margin-bottom: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c8dbdb;
    padding-top: 90px;
    padding-bottom: 100px;
}

.contact h1{
    color: #004f50;
}


.contactForm {
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nom-prenom {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
}

.form-name{
    width: 45%;
}

label {
    margin-left: 5px;
    color: #003d3e;
    font-size: 22px;
}

input {
    margin-top: 5px;
    padding-left: 8px;
    border: 2px solid #5E9798;
    border-radius: 10px;
    height: 30px;
    box-shadow: 0 5px 7px 0 rgba(71, 101, 92, 0.233), -3px -3px 2px 0 rgba(60, 85, 82, 0.075);
    width: 100%;
    font-size: 16px;
}

textarea {
    margin-top: 5px;
    padding: 8px;
    border: 2px solid #5E9798;
    border-radius: 5px;
    box-shadow: 0 5px 7px 0 rgba(71, 101, 92, 0.233), -3px -3px 2px 0 rgba(60, 85, 82, 0.075);
    width: 100%;
    height: 150px;
    font-size: 16px;
}

/*.messageBox{
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
}*/

.form-group{
    margin-top: 15px;;
}

.btn-submit{
    margin-left: 5px;
    margin-top: 25px;
    background-color: #004f50;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0 5px 7px 0 rgba(71, 101, 92, 0.233), -3px -3px 2px 0 rgba(60, 85, 82, 0.075);
    width: 100%;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #fbf1eb ;
    color: #004f50;
    
}