$dark-green: #004f50;
$medium-green: #097969;
$beige: #d0c1b2;
$light-beige: #fbf1eb;

html {
  scroll-behavior: smooth;
  animation-duration: 1s;
}

main {
  font-family: "Tajawal", sans-serif;
}

h1 {
  font-family: "Poiret One", cursive;
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-top: 0px;
  align-self: center;
  margin-bottom: 20px;
  @media screen and (max-width: 950px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 35px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 400px) {
    font-size: 32px;
  }
}

.presentation-container {
  width: 100%;
  position: relative;
  height: 460px;
  /*background-color: #5E9798;*/
  .img-gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 460px;
    top: 0;
    background: linear-gradient(
      to bottom,
      $dark-green,
      $medium-green 70%,
      $beige
    );
  }

  .presentation {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 2;
    position: relative;
    @media screen and (max-width: 950px) {
      padding-top: 30px;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  h2 {
    color: white;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    @media screen and (max-width: 950px) {
      font-size: 22px;
    }
    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
  }

  .socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
  }
}

.presentation .socialLinks img {
  height: 50px;
  width: 50px;
  @media screen and (max-width: 950px) {
    height: 40px;
    width: 40px;
  }
  filter: saturate(10%) contrast(100%) brightness(10%) invert(95%) sepia(10%)
    hue-rotate(110deg);
  border-radius: 50%;
}

.socialLinks img:hover {
  cursor: pointer;
  filter: saturate(200%) contrast(150%) brightness(100%) invert(30%) sepia(100%)
    hue-rotate(100deg);
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
  h1 {
    color: $dark-green;
    margin-bottom: 60px;
    z-index: 2;
    margin-top: 160px;
  }
  .img-gradient-services {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(to bottom, $beige, transparent);
  }
  .services-button {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
    .services {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 40px;
      margin-bottom: 0px;
      width: 80%;
      z-index: 2;
      @media screen and (max-width: 1450px) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        column-gap: 20px;
      }
      @media screen and (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
      }
      .services-collapse {
        width: 30%;
        background: linear-gradient(
          to bottom,
          #298c7d 22%,
          $light-beige 22% 80%
        );
        /*border: 4px solid #fbf1eb;*/
        border-radius: 50px;
        margin-bottom: 60px;
        @media screen and (max-width: 1450px) {
          width: 40%;
          background: linear-gradient(
            to bottom,
            #298c7d 18%,
            $light-beige 18% 80%
          );
        }
        @media screen and (max-width: 850px) {
          width: 70%;
        }
        @media screen and (max-width: 480px) {
          width: 90%;
          margin-bottom: 50px;
        }
        .descriptif-service {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          color: #000000;
          margin-bottom: 20px;
          @media screen and (max-width: 480px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

/*.services-collapse h2 {
  font-size: 18px;
  margin-top: 0;
  font-weight: 600;
  color: rgb(68, 130, 131);
}*/

.services ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-right: 10px;
    border: 1px solid #d2e8e9;
    background-color: #d2e8e9;
    color: $dark-green;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
  }
}

.img-gradient-services-bottom {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to top, $beige, transparent);
}

.travaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 110px;
  background: linear-gradient(
    to top,
    #003d3e 10%,
    $dark-green 20%,
    $medium-green 83%,
    $beige
  );
}

.travaux h1 {
  color: white;
  margin-top: 120px;
  margin-bottom: 70px;
  z-index: 2;
  position: relative;
}

.filter {
  display: flex;
  flex-direction: row;
  margin: 0 auto 3em auto;
  width: fit-content;
  padding: 5px 5px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 2px solid white;
  border-radius: 20px;
  background-color: $medium-green;
  z-index: 2;
  position: relative;
  column-gap: auto;
  @media screen and (max-width: 950px) {
    width: 90%;
    border-radius: 30px;
  }
  @media screen and (max-width: 620px) {
    width: 90%;
    border-radius: 30px;
    flex-direction: column;
    background-color: transparent;
    border: none;
    margin-bottom: 30px;
  }
  button {
    border: #fbf1eb;
    background-color: transparent;
    font-family: "Tajawal", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fbf1eb;
    @media screen and (max-width: 950px) {
      font-size: 20px;
    }
    @media screen and (max-width: 660px) {
      font-size: 19px;
    }
    @media screen and (max-width: 620px) {
      background-color: $medium-green;
      border: 2px solid white;
      margin-bottom: 10px;
      width: 100%;
    }
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
      background-color: #fbf1eb;
      color: #097969;
      border-radius: 15px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &:focus {
      background-color: #fbf1eb;
      color: #097969;
      border-radius: 15px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .btn-filter {
    border: $light-beige;
    background-color: transparent;
    font-family: "Tajawal", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: $light-beige;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
      background-color: $light-beige;
      color: $medium-green;
      border-radius: 15px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.allWorks {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 35px;
  row-gap: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.aPropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
  height: 600px;
  @media screen and (max-width: 480px) {
    height: 400px;
  }
  h1 {
    color: $dark-green;
    margin-top: 30px;
    position: relative;
    top: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 2;
    @media screen and (max-width: 480px) {
      margin-top: 15px;
    }
  }
  .list-about {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 40%;
    background-color: $light-beige;
    border-radius: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    @media screen and (max-width: 950px) {
      width: 70%;
      padding-left: 10px;
      padding-right: 10px;
    }
    @media screen and (max-width: 650px) {
      width: 80%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  p {
    font-size: 22px;
    color: $dark-green;
    text-align: center;
    @media screen and (max-width: 950px) {
      font-size: 18px;
    }
  }

  br {
    margin-bottom: 10px;
  }
}

.form {
  background-color: #d2e8e9;
  padding-bottom: 40px;
  h1 {
    color: #004f50;
    margin-top: 30px;
    position: relative;
    top: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
