$dark-green: #004f50;
$medium-green: #097969;

.overlay {
  position: fixed;
  display: "flex";
  align-items: center;
  justify-content: "center";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  &:hover {
    cursor: default;
  }

  .modal {
    position: relative;
    top: 0%;
    left: 50%;
    width: 70%;
    height: auto;
    max-height: calc(90vh - 90px);
    overflow-y: auto;
    background-color: white;
    box-shadow: 8px 8px 10px rgba(0 0 0 / 0.7);
    padding: 15px;
    margin-top: 90px;
    transform: translateX(-50%);
    animation: fadein 0.8s;
    z-index: 1000;
    border-radius: 10px;
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @media screen and (max-width: 1450px) {
      width: 75%;
      margin-top: 0px;
    }
    h2 {
      color: $dark-green;
      text-align: center;
      font-size: 28px;
    }
    h3 {
      color: $dark-green;
      text-align: center;
      margin-bottom: 5px;
      font-size: 22px;
    }
    p {
      margin-top: 0px;
      font-size: 18px;
      text-align: center;
    }

    .button {
      position: fixed;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      z-index: 100;
      color: $medium-green;
      background-color: transparent;
      border-radius: 5px;
      padding: 3px;
      margin-right: 0px;
      &:hover {
        cursor: pointer;
        color: white;
        background-color: $medium-green;
        border-radius: 5px;
        padding: 3px;
      }
    }

    .tools ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0;
      padding: 0;
      margin-top: 10px;
      li {
        list-style: none;
        margin-right: 10px;
        border: 1px solid #d2e8e9;
        background-color: #d2e8e9;
        color: #004f50;
        border-radius: 20px;
        padding: 10px;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }

    .workInfo {
      padding-left: 60px;
      padding-right: 60px;
    }

    .pictures {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 40px;
      row-gap: 40px;
      margin-top: 50px;
      margin-bottom: 50px;
      img {
        width: 500px;
        height: auto;
        border-radius: 5px;
        box-shadow: 8px 8px 10px rgba(0 0 0 / 0.3);
      }
    }
  }
}
