$dark-green: #004f50;
$light-beige: #fbf1eb;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c8dbdb;
    padding-top: 90px;
    padding-bottom: 100px;
    h1 {
      color: $dark-green;
    }
  }
  .contactForm {
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nom-prenom {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-between;
  }

  .form-name {
    width: 45%;
  }

  label {
    margin-left: 5px;
    color: #003d3e;
    font-size: 22px;
  }

  input {
    margin-top: 5px;
    padding-left: 8px;
    border: 2px solid #5e9798;
    border-radius: 10px;
    height: 30px;
    box-shadow:
      0 5px 7px 0 rgba(71, 101, 92, 0.233),
      -3px -3px 2px 0 rgba(60, 85, 82, 0.075);
    width: 100%;
    font-size: 16px;
  }

  textarea {
    margin-top: 5px;
    padding: 8px;
    border: 2px solid #5e9798;
    border-radius: 5px;
    box-shadow:
      0 5px 7px 0 rgba(71, 101, 92, 0.233),
      -3px -3px 2px 0 rgba(60, 85, 82, 0.075);
    width: 100%;
    height: 150px;
    font-size: 16px;
  }

  /*.messageBox{
      visibility: visible;
      animation-delay: 0.2s;
      animation-name: fadeInUp;
  }*/

  .form-group {
    margin-top: 15px;
  }

  .btn-submit {
    margin-left: 5px;
    margin-top: 25px;
    background-color: $dark-green;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    height: 40px;
    box-shadow:
      0 5px 7px 0 rgba(71, 101, 92, 0.233),
      -3px -3px 2px 0 rgba(60, 85, 82, 0.075);
    width: 100%;
    cursor: pointer;
  }

  .btn-submit:hover {
    background-color: $light-beige;
    color: $dark-green;
  }
}
