.footer{
    background-color: #004f50;
    height: 130px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #003d3e, #004f50);
}

.footer__logo img{
    height: 70px;
    width: 70px;
    margin-top: 35px;
}